body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

#video {
    flex: 3;
    background: #222;
    border: 2px dashed #555;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 360px;  /* correspond à la résolution réduite */
}

#video img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#controls {
    flex: 1;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}
