body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

#video {
    flex: 3;
    background: #222;
    border: 2px dashed #555;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 360px;  /* correspond à la résolution réduite */
}

#video img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#controls {
    flex: 1;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

.affiche {
    background:#111;
    color: #fff;
    padding: 16px 20px;
    border-radius: 12px;
    width: 260px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
}

.affiche ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.affiche li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    margin-bottom: 12px;
}

.affiche li:last-child {
    margin-bottom: 0;
}

.affiche span {
    font-weight: bold;
    font-size: 20px;
    padding: 4px 12px;
    border-radius: 8px;
    min-width: 45px;
    text-align: center;
}

/* Couleurs dynamiques */
#free {
    background-color: #2ecc71; /* vert */
    color: #000;
}

#occupied {
    background-color: #e74c3c; /* rouge */
    color: #fff;
}
